/* @import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;400;500;700;900&family=Noto+Sans:wght@300;400;500;700;900&display=swap"); */

@font-face {
    font-family: "Noto Sans";
    font-weight: 300;
    src: url("../fonts/Noto_Sans/NotoSans-Light.ttf") format("truetype");
}

@font-face {
    font-family: "Noto Sans";
    font-weight: 400;
    src: url("../fonts/Noto_Sans/NotoSans-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Noto Sans";
    font-weight: 500;
    src: url("../fonts/Noto_Sans/NotoSans-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Noto Sans";
    font-weight: 700;
    src: url("../fonts/Noto_Sans/NotoSans-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Noto Sans";
    font-weight: 900;
    src: url("../fonts/Noto_Sans/NotoSans-Black.ttf") format("truetype");
}

@font-face {
    font-family: "Montserrat Alternates";
    font-weight: 300;
    src: url("../fonts/Montserrat_Alternates/MontserratAlternates-Light.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "Montserrat Alternates";
    font-weight: 400;
    src: url("../fonts/Montserrat_Alternates/MontserratAlternates-Regular.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "Montserrat Alternates";
    font-weight: 500;
    src: url("../fonts/Montserrat_Alternates/MontserratAlternates-Medium.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "Montserrat Alternates";
    font-weight: 700;
    src: url("../fonts/Montserrat_Alternates/MontserratAlternates-Bold.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "Montserrat Alternates";
    font-weight: 900;
    src: url("../fonts/Montserrat_Alternates/MontserratAlternates-Black.ttf") format("truetype");
    font-display: swap;
}
