@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;400;500;700;900&family=Noto+Sans:wght@300;400;500;700;900&display=swap");

body {
    margin: 0;
    padding: 0;
    font-family: "Noto Sans", sans-serif;
    background: #f0eff4;
    color: #000;
}

.alternative-font-family {
    font-family: "Montserrat Alternates", sans-serif;
}
